<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="flex-row" th:fragment="bivariate-view">
    <div class="dataValOne" th:attr="data-valueOne=${valueOne}">Variable 1: [[${datapoint.valueOne}]]</div>
    <div class="dataValTwo" th:attr="data-valueTwo=${valueTwo}">Variable 2: [[${datapoint.valueTwo}]]</div>
    <div th:if="${includeDates}" class="dataDataDate" th:attr="data-dataDate=${dataDate}">Point Date: [[${dataDate}]]</div>
</div>
</body>
</html>