<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="flex-row" th:fragment="univariate-view">
        <div class="dataValOne" th:attr="data-valueOne=${valueOne}">Point Value: [[${datapoint.valueOne}]]</div>
        <div th:if="${includeDates}" class="dataDataDate" th:attr="data-dataDate=${dataDate}">Point Date: [[${datapoint.dataDate}]]</div>
    </div>
</body>
</html>