<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Create</title>
</head>
<body>
<div layout:fragment="content" class="flex-column align-items-center">
    <h2 class="flex-title">Create a Dataset</h2>
    <p>Fill out the form below to create your desired dataset.</p>
    <form id="create-form" class="flex-column raised-panel" th:object="${dataset}">
        <div>
            <label for="setName">Dataset Name</label>
            <input type="text" id="setName" name="setName" th:field="*{setName}">
        </div>
        <div>
            <label for="setType">Dataset Type</label>
            <select id="setType" name="setType" th:field="*{setType}">
                <option value="0">Univariate</option>
                <option value="1">Bivariate</option>
            </select>
        </div>
        <div>
            <label for="includeDates">Include Dates?</label>
            <select id="includeDates" name="includeDates" th:field="*{includeDates}">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
        <div>
            <label for="publicity">Public Dataset?</label>
            <select id="publicity" name="publicity" th:field="*{publicity}">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
        <textarea class="notDisplayed" id="userId" name="userId">[[${user.id}]]</textarea>
        <div>
            <button type="submit" class="site-btn-1">Create!</button>
        </div>
    </form>
    <div th:if="${loggedIn}">
        <script src="/js/createSet.js"></script>
    </div>
</div>
</body>
</html>