<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" class="flex-column">
    <h2 class="flex-title padding-lr-tiny">Welcome!</h2>
    <p class="padding-lr-tiny">
        This application gives you the ability to create and save datasets.  If you have an account already, login above,
         select the create option to create a new dataset, or select the dashboard option to navigate to your dashboard.
        If you do not have an account, use the login link above to navigate to the registration form.
    </p>
</div>
</body>
</html>