<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Java Data Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">
    <header class="flex-row bgColor6">
        <h1>
            <a href="/" class="noDecoration">Java Data Tracker</a>
        </h1>
        <nav class="mainnav">
            <ul th:if="${loggedIn}" class="noType flex-row space-evenly">
                <li class="mainnav margin-lr-tiny">
                    <a th:href="@{/dashboard}" class="noDecoration">Dashboard</a>
                </li>
                <li class="mainnav margin-lr-tiny">
                    <a th:href="@{/datasets}" class="noDecoration">Datasets</a>
                </li>
                <li class="mainnav margin-lr-tiny">
                    <a th:href="@{/create}" class="noDecoration">Create</a>
                </li>
                <li class="mainnav margin-lr-tiny">
                    <a th:href="@{/users/logout}" class="noDecoration">Logout</a>
                </li>
            </ul>
            <ul th:unless="${loggedIn}" class="noType flex-row space-evenly">
                <li class="mainnav margin-lr-tiny">
                    <a th:href="@{/datasets}" class="noDecoration">Datasets</a>
                </li>
                <li class="mainnav margin-lr-tiny">
                    <a th:href="@{/login}" class="noDecoration">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main layout:fragment="content">

    </main>
    <footer class="bgColor6 margin-top-auto">
        <h2>Thanks for visiting!</h2>
    </footer>
</div>
</body>
</html>