<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Not Found!</title>
</head>
<body>
<div layout:fragment="content" class="flex-column">
    <h2 class="flex-title padding-lr-tiny">Not Found!</h2>
    <p class="padding-lr-tiny">The dataset (or page) that you attempted to access either does not exist or is set to private.  If you are attempting to reach a dataset that you created, please log in to access it.  You will be redirected shortly.</p>
    <script src="/js/redirect.js"></script>
</div>
</body>
</html>